header {
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
    padding: 30px 50px 5px 5px
}

h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

thead {
    background-color: #20a9e5;
    color: white;
    font-size: large;
    text-align: left;
}

td:first-child, td:nth-child(2) {
    width: 300px;
  }

.row-cyan {
    background-color: #b1e5f2;
}

.info-grey {
    color: #818181
}

.highlight {
    background-color: yellow;
}

#logo {
    max-width: 150px;
    height: auto;
}

#tim-photo {
    padding-top: 15px;
}

#photo-desc {
    font-size: 12px;
}

#booleaners {
    color: #2aace6;
}

#date {
    font-size: 13px;
}